.square {
    height: 100px;
    width: 100px;
    background-color: red;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 173.2px 100px;
    border-color: transparent transparent #00ff62 transparent;
}